@font-face {
  font-family: "SovMod";
  font-display: swap;
  src: url("../fonts/SovMod.woff2") format("woff2"), url("../fonts/SovMod.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 500;
  padding: 15px;
  color: rgb(72, 143, 72);
  font-size: calc(14px + 6 * ((100vw - 320px) / 880));
  letter-spacing: 5px;
  font-weight: 700;
}

.bullets {
  z-index: 2;
  position: fixed;
}

.slide-wrapper {
  max-width: 1200px;
  width: 100%;
  gap: calc(10px + 10 * ((100vw - 320px) / 880));
}

.line {
  margin-top: 10px;
  height: 2px;
  width: 100%;
  background: #c5c5c5;
}

.arrow__down {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top: 15px solid rgb(72, 143, 72);
  margin: 0 auto;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrow__up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.initial__img-img {
  max-height: 90vh;
  width: calc(200px + 270 * ((100vw - 320px) / 880));
}

.initial__img-3 {
  width: calc(170px + 300 * ((100vw - 320px) / 880));
}

.footer__text {
  max-width: 320px;
  -webkit-transform: translateY(250px);
      -ms-transform: translateY(250px);
          transform: translateY(250px);
}

.slide-wrapper {
  position: relative;
}

.dekor {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 4s linear;
  -o-transition: all 4s linear;
  transition: all 4s linear;
}

.dekor-11 {
  top: 0;
  width: calc(150px + 335 * ((100vw - 320px) / 880));
}

.dekor-12 {
  bottom: calc(120px + -70 * ((100vw - 320px) / 880));
  width: calc(120px + 305 * ((100vw - 320px) / 880));
}

.dekor-13 {
  top: calc(-20px + -30 * ((100vw - 320px) / 880));
  width: calc(150px + 295 * ((100vw - 320px) / 880));
}

.dekor-14 {
  top: calc(30px + 40 * ((100vw - 320px) / 880));
  width: calc(120px + 325 * ((100vw - 320px) / 880));
}

.dekor-15 {
  top: calc(30px + -30 * ((100vw - 320px) / 880));
  width: calc(150px + 155 * ((100vw - 320px) / 880));
}

.dekor-16 {
  bottom: 220px;
  width: calc(120px + 185 * ((100vw - 320px) / 880));
}

.dekor-17 {
  top: calc(100px + 200 * ((100vw - 320px) / 880));
  width: calc(90px + 365 * ((100vw - 320px) / 880));
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "SovMod";
  letter-spacing: 2px;
  font-weight: 500;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

main {
  height: 100vh;
}

section {
  padding-left: calc(25px + 45 * ((100vw - 320px) / 880));
  padding-right: calc(25px + 45 * ((100vw - 320px) / 880));
  padding-top: calc(45px + 15 * ((100vw - 320px) / 880));
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(221, 218, 218);
}

.swiper {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
}

.swiper-pagination-bullet:after {
  content: "";
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(73, 175, 73);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active:after {
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 0px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 25px;
  top: 25%;
}

h2 {
  color: rgb(73, 175, 73);
  font-size: calc(20px + 10 * ((100vw - 320px) / 880));
  margin-bottom: 15px;
}

.initial__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.initial__text p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
  font-size: calc(13px + 4 * ((100vw - 320px) / 880));
}

.initial__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.header__burger {
  display: none;
}

.burger__open {
  padding-top: 120px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: none;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

@media (max-width: 992px) {
  .slide-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__text {
    max-width: 100%;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .dekor-17 {
    top: 0px;
  }
}

@media (max-width: 768px) {
  .burger__open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FFDAB9;
    overflow: auto;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .header__burger {
    z-index: 9000;
    position: relative;
    display: block;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 18px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 10px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 26px;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .burger__open-btn-item {
    display: inline-block;
  }
}

@media (max-width: 380px) {
  .initial__text p {
    font-size: 11px;
    line-height: 110%;
  }
}

@media (max-width: 350px) {
  .initial__img-img {
    width: calc(150px + 320 * ((100vw - 320px) / 880));
  }

  .initial__img-3 {
    width: calc(90px + 380 * ((100vw - 320px) / 880));
  }

  .dekor-17 {
    top: 0;
  }
}